.overview-taskstable-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
}

.over-taskstable-header {
  flex-direction: row;
  display: flex;
}

.overview-taskstable {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 5px;
  text-align: left;
  padding-top: 2%;
  margin-top: 2%;
}

.overview-taskstable-title {
  font-size: 15px;
  padding-left: 2%;
  display: flex;
  flex: 1;
}

.overview-tasktable-header-right {
  text-align: right;
  display: flex;
  padding-right: 1%;
  padding-bottom: 1%;
}

.overview-taskstable-for {
  font-size: 15px;
  display: flex;
  color: rgb(136, 152, 170);
}

.overview-taskstable-date {
  font-size: 15px;
  display: flex;
}

.overview-taskstable-date input {
  border: none;
}

.slds-tabs_default__link {
  color: gray !important;
}

.task-checkbox {
  margin: 1%;
  display: inline-block;
}

.task-title {
  display: inline-block;
  font-size: 15px;
  padding-left: 2%;
}

.task-status {
  display: flex;
  flex-direction: row;
}

.status-text {
  padding-left: 5%;
}

.status-dot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px grey;
  margin-right: 1%;
}

.status-dot.red {
  background: #ff6651;
}

.status-dot.yellow {
  background: #f5a622;
}

.status-dot.green {
  background: #44a942;
}

.profile-picture {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-self: center;
  justify-self: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
