.meeting-section-wrapper {
  background: rgb(66, 158, 212);
  padding: 50px;
  margin-top: 30px;
}

.meeting-section-top {
  margin-bottom: 20px;
}

.meeting-section-title {
  color: white;
  font-size: 30px;
}

.meeting-section-cards-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}