.meeting-section-wrapper {
  background: rgb(66, 158, 212);
  padding: 50px;
}

.meeting-section-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

/* meeting-section-top */
.meeting-section-title {
  flex: 1;
  order: 1;
  color: white;
  font-size: 30px;
}

.meeting-section-top-right {
  flex: 2;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.meeting-section-top-right > button {
  margin: 10px;
}

/* meeting-section-top-right */
.square-btn {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border: transparent;
  height: 40px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}

.square-btn:hover {
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.4);
}

.meeting-section-cards-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.meeting-section-cards-wrapper::-webkit-scrollbar {
  height: 4px;
}

.meeting-section-cards-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.meeting-section-cards-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #748aa1;
}

.meeting-section-cards-wrapper::-webkit-scrollbar-thumb:hover {
  background: #748aa1;
}
