.app {
  background-color: #fafaf9;
  height: 100vh;
  overflow: scroll;
}

.slds-p-around_x-large {
  padding: 0 !important;
}

.slds-template_default {
  padding: 0 !important;
  height: 100vh !important;
  width: 100vw !important;
}
