.overview-card {
  display: inline-block;
  background: white;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 5px;
  text-align: center;
  width: 250px;
}

.overview-tabs-wrapper {
  text-align: center;
}

.overview-cards-wrapper {
  display: inline-block;
}

.overview-card-left {
  float: left;
}

.overview-card-right {
  padding-top: 8%;
  text-align: left;
}

.overview-card-number {
  font-size: 30px;
}

.overview-card-name {
  color: gray;
}

.overview-taskstable-wrapper {
  text-align: center;
}

.overview-taskstable {
  display: inline-block;
  width: 1000px;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 5px;
  text-align: left;
  padding-top: 2%;
  margin-top: 2%;
}

.overview-taskstable-title {
  font-size: 20px;
  padding-left: 2%;
  display: inline-block;
}

.overview-tasktable-header-right {
  text-align: right;
  padding-right:1%;
  padding-bottom:1%;
}

.overview-taskstable-for {
  font-size: 15px;
  display: inline-block;
}

.overview-taskstable-date {
  font-size: 15px;
  display: inline-block;
}

.overview-taskstable-date input {
  border:none;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.55s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.slds-tabs_default__link {
  color: gray !important;
}

.task-wrapper {
  border-bottom: 1px solid rgb(221, 219, 218);
}

.task-checkbox {
  margin: 1%;
  display: inline-block;
}

.task-title {
  display: inline-block;
  font-size: 15px;
}

.status-dot {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  float:right;
  margin-right:1%;


}

li.slds-tabs_default__item {
  color:gray;
}